*{
    font-family: 'Segoe UI';
    box-sizing: border-box;
}
/* Cabeçalho */

header{
    width: 100%;
    height: 20%;
    background-color: rgb(250, 149, 166);
    padding: 15px;
    font-size: 20px;
    color: white;
    text-align: center;
}

/* Grid de produtos */

.container {
    background-color: white;
    min-height: 60vh;
    padding: 50px;
}

.catalago-produto{
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    width: 30%;
    margin: 1% 1%;
    display: inline-block;
    padding: 15px;
}

.produto-imagem{
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1{
    background-image: url('../img/img7.jpg.jpg');
}
#img-2{
    background-image: url('../img/img2.jpg.jpg');
}
#img-3{
    background-image: url('../img/img3.jpg.jpg');
}
#img-4{
    background-image: url('../img/img4.jpg.jpg');
}
#img-5{
    background-image: url('../img/img5.jpg.jpg');
}
#img-6{
    background-image: url('../img/img6.jpg.jpg');
}

h3{
    margin-bottom: 10px;
    color: rgb(250, 149, 166) ;
    font-size: 24px;
    border-left: 2px solid black;
    padding-left: 8px;
}

.card p{
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color:  rgb(250, 149, 166);
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.bnt:hover {
 background-color: #0f642f;
}

footer{
    background-color: rgb(250, 149, 166);
    text-align: center;
    padding: 80px;
    color: white;
}