
.corpo{
    display: flex;
    flex-flow: row wrap;
    border: transparent;
}
.card{
    flex: 32%;
    background-color: white;
    height: 600px;
    width: 300px;
    margin: 1%;
    border: transparent;
}
.img-card{
   width: 50%;
   margin-left: 200px;
   border: transparent;
}
footer{
    background-color: rgb(250, 149, 166);
    text-align: center;
    padding: 80px;
    color: #fff;
}